Repository includeamin/diff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy, poetry-check, poetry-check-lock

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check
  args:
  - --exit-non-zero-on-fix

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

poetry-check-lock:
  name: poetry-check-lock
  entry: poetry check
  language: system
  pass_filenames: false
  args:
  - --lock

feat: add linters and fixes all linting issues and ignore some
  .pre-commit-config.yaml
  mypy.ini
  ruff.toml
  src/diff/__init__.py
  src/diff/diff.py
  src/diff/json_path.py
  src/diff/patch.py
  tests/test_diff.py
Due: ruff-format, ruff-check, mypy

feat: add linter workflow
  .github/workflows/quality.yaml
Due: none

feat: fix linter error
  .pre-commit-config.yaml
  src/diff/patch.py
  tests/test_diff.py
Due: ruff-format, ruff-check, mypy

chore: update README
  README.md
Due: none

chore: rename Operation to Delta
  README.md
  src/diff/__init__.py
  src/diff/delta.py
  src/diff/diff.py
  src/diff/patch.py
  tests/test_diff.py
Due: ruff-format, ruff-check, mypy

feat: add release
  .github/workflows/release.yml
Due: none

fix: fix release
  .github/workflows/release.yml
Due: none

chore: improve naming and enhance comments
  src/diff/delta.py
  src/diff/diff.py
  src/diff/patch.py
  tests/test_diff.py
Due: ruff-format, ruff-check, mypy

chore: cleanup tests and add name to the release wrokflow
  .github/workflows/release.yml
  tests/test_diff.py
Due: ruff-format, ruff-check, mypy

chore: update version
  pyproject.toml
Due: poetry-check, poetry-check-lock

chore: update __repr__ of Delta
  src/diff/delta.py
Due: ruff-format, ruff-check, mypy

chore: cleanup ruff.toml
  ruff.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: . and \.py$
  mypy: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
  poetry-check-lock: any of: (?x)^(
    pyproject.toml|
    poetry.lock
)$

